 .page-register {
     width: 750px;
     overflow: hidden;

     .page-nav {
         height: 110px;
         padding: 0 60px;
         line-height: 110px;

         a {
             height: 110px;
             color: #1882d4;
         }

         .fr {
             float: right;
         }
     }

     h1 {
         padding-top: 64px;
         font-size: 60px;
         height: 152px;
         padding-left: 60px;
     }

     h2 {
         padding-left: 60px;
         color: #8c9fad;
         height: 28px;
     }

     .set-password-form {
         padding: 80px 60px 60px;

         .input-box,
         .invite-box {
             position: relative;
             margin-bottom: 40px;
         }

         .input-box .action i,
         .invite-box .action i {
             margin-left: 50px;
             color: #c5cfd5;
         }

         .input-box input,
         .invite-box input {
             line-height: 72px;
             width: 100%;
             font-size: 32px;
             padding-right: 250px;
             box-sizing: border-box;
             border-bottom: 1px solid;
             border-color: #c5cfd5;
         }

         .input-box .action,
         .invite-box .action {
             position: absolute;
             top: 22px;
             right: 0;
             width: 256px;
             text-align: right;
         }

         .input-box .action .mobile_icon_ok,
         .invite-box .action .mobile_icon_ok {
             color: #1882d4;
         }

         .input-box input.error,
         .invite-box input.error {
             border-width: 2px;
             border-color: #d14b64;
         }

         .license-box {
             position: relative;
             display: block;
             color: #e8ebee;
             margin-bottom: 60px;

             i {
                 position: absolute;
                 top: 0;
                 left: 0;
                 color: #1882d4;
                 display: none;
             }

             span {
                 color: #8c9fad;
                 vertical-align: unset;
             }

             input {
                 border: none;
                 caret-color: #1882d4;
                 color: #1f3f59;
             }

             input:checked+i {
                 display: inline-block;
             }

             a {
                 color: #1882d4;
             }
         }

         .submit {
             width: 100%;
             height: 88px;
             font-size: 32px;
             color: #fff;
             background: #1882d4;
         }

         .submit:disabled {
             background: #c5cfd5;
         }
     }
 }